.project-management, .work-together{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}
.project-management .container, .work-together .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.pM__text-block, .work-together .text-block{
    max-width: 672px;
}
.pM__text-block h2, .work-together .text-block h2{
    font-size: 64px;
    color: black;
    width: 100%;
    position: relative;
    z-index: 2;
}
.pM__text-block p, .work-together .text-block p{
    color: black;
    font-size: 18px;
    width: 100%;
    margin: 24px 0 60px;
}
.blue-btn{
    font-size: 18px;
    width: 227px;
    height: 60px;
    background-color: #4f9cf0;
    border-radius: 8px;
    border: 0;
}
.pM__text-block .heading, .work-together .heading{
    position: relative;
}
.element{
    position: absolute;
    bottom: -10px;
    z-index: 1;
}
.pM__img-block{
    height: 529px;
    width: 824px;
    background-color:skyblue;

}
.work-together .img-block{
    height: 529px;
    width: 824px;
}
.work-together .img-block img{
    height: 100%;
    width: auto;
}