<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSS Homework 3</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="container">
        <div class="xett-1"></div>
        <div class="xett-2"></div>
        <div class="center-img">
            <img src="element/Group 327.svg" alt="element">
        </div>
        <div class="circle daire-1"></div>
        <div class="circle daire-2"></div>
        <div class="circle daire-3"></div>
        <div class="circle daire-4"></div>
        <div class="circle daire-5"></div>
        <div class="circle daire-6"></div>
        <div class="circle daire-7"></div>
        <div class="circle daire-8"></div>
        <div class="circle daire-9"></div>   
    </section>
</body>
</html>